html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.grid-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-container .row::before, .grid-container .row::after {
  content: "";
  display: table;
  clear: both;
}

.grid-container .row [class*="col-"] {
  float: left;
  min-height: 1px;
  margin: 0;
  padding: 12px;
  box-sizing: border-box;
}

.grid-container .row .col-1 {
  width: 100%;
}

@media (min-width: 640px) {
  .grid-container .row .col-1 {
    width: 8.33333%;
  }
}

.grid-container .row .col-2 {
  width: 100%;
}

@media (min-width: 640px) {
  .grid-container .row .col-2 {
    width: 16.66667%;
  }
}

.grid-container .row .col-3 {
  width: 100%;
}

@media (min-width: 640px) {
  .grid-container .row .col-3 {
    width: 25%;
  }
}

.grid-container .row .col-4 {
  width: 100%;
}

@media (min-width: 640px) {
  .grid-container .row .col-4 {
    width: 33.33333%;
  }
}

.grid-container .row .col-5 {
  width: 100%;
}

@media (min-width: 640px) {
  .grid-container .row .col-5 {
    width: 41.66667%;
  }
}

.grid-container .row .col-6 {
  width: 100%;
}

@media (min-width: 640px) {
  .grid-container .row .col-6 {
    width: 50%;
  }
}

.grid-container .row .col-7 {
  width: 100%;
}

@media (min-width: 640px) {
  .grid-container .row .col-7 {
    width: 58.33333%;
  }
}

.grid-container .row .col-8 {
  width: 100%;
}

@media (min-width: 640px) {
  .grid-container .row .col-8 {
    width: 66.66667%;
  }
}

.grid-container .row .col-9 {
  width: 100%;
}

@media (min-width: 640px) {
  .grid-container .row .col-9 {
    width: 75%;
  }
}

.grid-container .row .col-10 {
  width: 100%;
}

@media (min-width: 640px) {
  .grid-container .row .col-10 {
    width: 83.33333%;
  }
}

.grid-container .row .col-11 {
  width: 100%;
}

@media (min-width: 640px) {
  .grid-container .row .col-11 {
    width: 91.66667%;
  }
}

.grid-container .row .col-12 {
  width: 100%;
}

@media (min-width: 640px) {
  .grid-container .row .col-12 {
    width: 100%;
  }
}

html {
  font-family: "Lucida Sans", sans-serif;
  color: white;
  font-weight: bold;
}

.row:first-child {
  margin-bottom: 15px;
}

.row:last-child {
  margin-top: 15px;
}

.row .menu {
  padding: 0 !important;
}

header {
  background-color: darkviolet;
  height: 20vh;
}

div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div ul li {
  background-color: #0099cc;
  padding: 40px;
  margin-bottom: 15px;
}

div ul li:hover {
  background-color: lightblue;
}

main {
  background-color: orange;
  height: 70vh;
}

aside {
  background-color: blue;
  height: 70vh;
}

footer {
  background-color: green;
  height: 10vh;
}

/*# sourceMappingURL=new.css.map */